<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="bg-white mt-16 py-8 px-6 md:px-12 border-t">
        <div class="flex flex-col items-center space-y-4">
          <!-- Links -->
          <div class="flex flex-wrap justify-center space-x-32">
            <a class="text-gray-600 hover:text-gray-900" href="/frontend/src/features/customer/about/contact/terms.html">Terms of Service</a>
            <a class="text-gray-600 hover:text-gray-900" href="/frontend/src/features/customer/about/contact/policy.html">Privacy Policy</a>
            <a class="text-gray-600 hover:text-gray-900" href="/frontend/src/features/customer/about/contact/contact.html">Contact Us</a>
          </div>
      
          <!-- Copyright -->
          <p class="text-gray-500 text-sm text-center">
            © 2025 J-Med. All rights reserved.
          </p>
        </div>
      </footer>
      

</body>
</html>